<!DOCTYPE html>
<html lang="en-US">
   <head>
      <title> SNOWBALLZ </title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="style/style.css">
   </head>
<body style="background-image: url(./img/snowBackground.jpg); background-repeat: no-repeat; background-size: 100%;">
    <div id='app'>
        <div v-if="homePage">
            <h1 class="bigHeader">WELCOME TO SNOWBALLZ IN ANN ARBOR</h1>
            <h3 class="smallHeader">Choose your location...</h3>
            <div class = "col-lg-4 col-md-4 col-sm-4" style='margin-bottom: 5px; display: inline; height: 250px' v-for="location in locations">
                <div class="col-lg-20" style='max-width:200px;margin-right: 3px'>
                    <button class = "btn btn-default" v-on:click="selectLocation($event, location)" style="text-align: center; font-family:Impact; color: black">
                        {{ location.name }}
                    </button>
                    <img v-bind:src="location.img" style='width: 120%; display: inline;'>
                </div>
            </div>
        </div>
        <div v-else-if="levelPage">
            <div class="smallHeader">
                <h1>You selected {{ selectedLocation.name }}</h1>
                <h3>Choose your level...</h3>
                <div class = "col-lg-4 col-md-4 col-sm-4" style='margin-bottom: 5px; display: inline; height: 250px' v-for="grade in grades">
                    <div class="col-lg-20" style='max-width:200px;margin-right: 3px'>
                        <button class = "btn btn-default" v-on:click="selectGrade($event, grade)">
                            {{ grade }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="gamePage">
            <div style="text-align: center; font-family:Impact; color: white">
                <h1>You selected {{ selectedGrade }} in {{ selectedLocation.name }}</h1>
            </div>
            <div style="font-family:Impact; width: 100%; display: flex; align-items: center; justify-content: center;">
                <button v-on:click="beginGame()" class = "btn btn-default" > 
                    Click to begin!
                </button>
            </div>
        </div>
        <div v-else-if="playGame" id="playGameDiv">
            <div class="gamePlayTitle">
                Level {{ levelNum }}, Snowballs Remaining: {{ snowballLimit - snowballIndex }}
            </div>
            <div class="pointsTile">
                Points: <p id="pointsNum"> 0 </p>
            </div>

            <div v-for="(n, index) in levelNum">
                <img v-for="(n, index) in 16" src="./img/iceBlock.gif" class = "block" id="iceBlocks" style="width: 100px">
            </div>
            <div id="player">
                <img v-bind:src="currentAvatar.img" style="width: 100px">
            </div>
            <div id="shooter">
                <img src="./img/snowballShooter.png" style="width: 150px; transform: scaleX(-1);">
            </div>
            
        </div>
        <div v-else-if="levelLoad">
            <h1 class="smallHeader">Level {{selectedGrade}} {{levelNum}}</h1>
            <div class="tipStyle">
                Ann Arbor Wintering Tip: {{tips[tipNum]}}
            </div>
            <div style="text-align: center; font-color: black">
                <button v-on:click="goToMarket" class="levelTransitionButton">Market</button>
            </div>
            <div style="text-align: center; font-color: black">
                <button v-on:click="newLevel" class="levelTransitionButton">Continue</button>
            </div>
        </div>
        <div v-else-if="marketPage" >
            <h1 class="smallHeader">Wintering Market</h1>
                <div class = "col-lg-6 col-md-6 col-sm-6" style='margin-bottom: 5px; display: inline; height: 250px' v-for="(avatar, index) in avatars">
                    <div class="col-sm-4" style='align-self: center;'>
                        <img v-bind:src="avatar.img" style="width: 100px">
                        <button v-if="!avatar.owned" v-on:click="purchaseAvatar($event, index)" class = "btn btn-default" style="text-align: center; font-family:Impact; color: black">10 Points</button>
                        <button v-if="avatar.owned & !avatar.using" v-on:click="changeAvatar($event, index)" class = "btn btn-default" style="text-align: center; font-family:Impact; color: black">Use</button>
                    </div>
                </div>
            <div style="text-align: center; font-color: black">
                <button v-on:click="newLevel" class="btn btn-default" style="text-align: center; font-family:Impact; color: black; size: 500px">Next Level</button>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
    <script src="vue.js"></script>

</body>
</html>