.snowball img{
	height: 40px;
}

#player {
	position: fixed; 
	top: 550px; 
	left: 500px;
}

.levelTransitionButton {
	font-color: black;
	border-radius: 35px;
	top: 500px;
	width: 200px;
	height: 50px;
	position: relative;
	font-color: black;
	font-size: 25px;
	font-family:Impact;
}


#iceBlocks {

}

.block{
	height: 60px;
	top: 90px;
	position: relative;
	padding-left: 20px;
}

#shooter {
	position: fixed;
	top: 550px;
	left: 400px ;
}

.bigHeader {
	text-align: center;
	font-family:Impact;
	color: white;
	font-size: 75px;
}

.smallHeader {
	text-align: center;
	font-family:Impact;
	color: white;
}

.tipStyle {
	font-size: 50px;
	font-family:Impact;
	color: black;
	border: black;
	position: fixed;
	top: 250px;
	text-align: center;
	background: white;
	padding: 10px;
}

.gamePlayTitle {
	font-size: 50px;
	font-family:Impact;
	color: black;
	border: black;
	position: fixed;
	top: 0px;
	left: 25%;
	z-index: 100;
	background: white;
	padding: 10px;
}

.pointsTile {
	font-size: 25px;
	font-family:Impact;
	color: black;
	border: black;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 100;
	background: white;
	padding: 10px;
}